
<section class="gray-bg section-padding" id="afhaal-page">


<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Onze paddenstoelen en zwammen kan je afhalen op deze locaties</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">

    <a href="https://www.pakt-antwerpen.be/contact"><h1>PAKT</h1></a>
    </div>

    <div class="col-md-6">
      <a href="https://regiform.be/contact/"><h1>REGIFORM</h1></a>

    </div>
</div>

  <div class="row">
    <div class="col-md-6">
        <div class="img1">

                       <img class="img-responsive" src="images\pakt.png" alt="team" />


        </div>
    </div>

    <div class="col-md-6">
        <div class="img1">

                       <img class="img-responsive" src="images\regiform.png" alt="team" />


        </div>
    </div>
</div>
</div>

</section>
